
body
{
	background-color: rgb(8, 8, 8);
}

#image
{
	position: absolute;
	
	width: 100%;
	height: 100%;

	object-fit: contain;
	object-position: 50% 50%;
	
	z-index: 0;
}

#loader
{
	display: none;
	
	position: absolute;
	
	left: 50%;
	top: 50%;
	
	transform: translate(-50%, -128px);
	
	
	z-index: 1;
}

#message
{
	position: absolute;
	
	margin: auto;
	max-width: 50%;
	
	left: 50%;
	top: 50%;
	
	transform: translate(-50%, -50%);
	
	overflow: hidden;
	
	font-size: 16px;
	
	color: gray;
	
	text-align: center;
	
	word-wrap: break-word;
	
	white-space: pre-line;
	
	z-index: -1;
}


#title
{
	position: absolute;
	
	left: 0px;
	right: 0px;
	top: 0px;
	
	padding: 8px;
	
	overflow: hidden;
	
	font-size: 16px;
	
	color: white;
	text-align: center;
	
	transition: opacity 0.6s;
	
	background-color: rgba(0, 0, 0, 0.9);
	
	z-index: 10;
}

#menu
{
	position: absolute;
	
	left: 0px;
	right: 0px;
	bottom: 0px;
	
	transition: opacity 0.6s;
	
	background-color: rgba(0, 0, 0, 0.9);
	
	z-index: 10;
}

#bar
{
	position: absolute;
	
	height: 2px;
	
	left: 0px;
	top: -2px;
	
	background-color: gray;
}

.button-group
{
	display: flex;
	
	flex-direction: row;
}

.button-group.left
{
	position: absolute;
	
	left: 0px;
	bottom: 0px;
}

.button-group.center
{
	display: flex;
	
	justify-content: space-between;
	
	position: relative;
	
	width: 300px;
	
	left: 50%;
	
	margin-left: -150px;
}

.button-group.right
{
	position: absolute;
	
	right: 0px;
	bottom: 0px;
}

.button
{
	width: 48px;
	height: 48px;
	
	margin: 8px;
	
	padding: 4px;
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: 48px;
}

.button:hover
{
	cursor: pointer;
	
	background-color: rgba(255, 255, 255, 0.20);
}

#exit
{
	background-image: url("/icon/exit.png");
}

#folder
{
	background-image: url("/icon/folder.png");
}

#recursive
{
	background-image: url("/icon/tree-deep.png");
}

#cake
{
	background-image: url("/icon/cake-cherry.png");
}

#fullscreen
{
	background-image: url("/icon/fullscreen.png");
}



#previous
{
	
	background-image: url("/icon/arrow-left.png");
}

#randomize
{
	
	background-image: url("/icon/draw-random.png");
}

#next
{
	
	background-image: url("/icon/arrow-right.png");
}