
body
{
	background-color: rgb(8, 8, 8);
}

#image
{
	display: flex;
	
	justify-content: center;
	align-items: center;
	
	width: 100%;
	height: 100%;
	
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#error
{
	margin: auto;
	max-width: 50%;
	
	overflow: hidden;
	
	font-size: 16px;
	
	color: gray;
	
	text-align: center;
	
	word-wrap: break-word;
	
	white-space: pre-line;
}


#title
{
	position: absolute;
	
	left: 0px;
	right: 0px;
	top: 0px;
	
	padding: 8px;
	
	font-size: 16px;
	
	color: white;
	text-align: center;
	
	transition: opacity 0.6s;
	
	background-color: rgba(0, 0, 0, 0.9);
}

#menu
{
	position: absolute;
	
	left: 0px;
	right: 0px;
	bottom: 0px;
	
	transition: opacity 0.6s;
	
	background-color: rgba(0, 0, 0, 0.9);
}

.button-group
{
	display: flex;
	
	flex-direction: row;
}

.button-group.left
{
	position: absolute;
	
	left: 0px;
	bottom: 0px;
}

.button-group.center
{
	display: flex;
	
	justify-content: space-between;
	
	position: relative;
	
	width: 300px;
	
	left: 50%;
	
	margin-left: -150px;
}

.button-group.right
{
	position: absolute;
	
	right: 0px;
	bottom: 0px;
}

.button
{
	width: 48px;
	height: 48px;
	
	margin: 8px;
	
	padding: 4px;
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: 48px;
}

.button:hover
{
	cursor: pointer;
	
	background-color: rgba(255, 255, 255, 0.20);
}

#exit
{
	background-image: url("/icon/exit.png");
}

#folder
{
	background-image: url("/icon/folder.png");
}

#recursive
{
	background-image: url("/icon/tree-deep.png");
}

#fullscreen
{
	background-image: url("/icon/fullscreen.png");
}



#previous
{
	
	background-image: url("/icon/arrow-left.png");
}

#randomize
{
	
	background-image: url("/icon/draw-random.png");
}

#next
{
	
	background-image: url("/icon/arrow-right.png");
}